[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
MemoryCaptures/
UserSettings/
.vs/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.bak
*.old
*.tmp
*.swp

# Ignore crash logs
sysinfo.txt

# Rider
.idea/
*.sln.iml

# Unity Collaborate
.collab/

# Packages
Packages/packages-lock.json